body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
}

.container {
    background: white;
    color: black;
    padding: 30px;
    margin: 100px auto;
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}